{% extends '::base.html.twig' %}

{% block body %}
    <div class="content">
        <div class="row">
            <div class="col-lg-12 thumbnail">
                <div class="col-sm-12">
                    <div class="col-sm-12">
                        <h3>{{ people.name }} {{ people.surname }}</h3>
                    </div>
                </div>

                <div class="col-sm-12">
                    <div class="col-sm-6">
                        <h3>Serials where he(she) actor</h3>

                        {% for serial in people.actorSerials %}
                            <article class="col-sm-4 thumbnail">
                                <div class="col-sm-12">
                                    <img src="{{ serial.poster }}" />
                                </div>

                                <div class="col-sm-12 caption">
                                    <a href="{{ path('serial_view_path', {'slug':serial.slug}) }}"><h4>{{ serial.name }}</h4></a>
                                </div>
                            </article>
                        {% endfor %}
                    </div>
                    <div class="col-sm-6">
                        <h3>Serials where he(she) director</h3>
                        {% for serial in people.directorSerials %}
                            <article class="col-sm-4 thumbnail">
                                <div class="col-sm-12">
                                    <img src="{{ serial.poster }}" />
                                </div>

                                <div class="col-sm-12 caption">
                                    <a href="{{ path('serial_view_path', {'slug':serial.slug}) }}"><h4>{{ serial.name }}</h4></a>
                                </div>
                            </article>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}