{% extends '::admin.html.twig' %}

{% block body %}
    <div class="content">
        <div class="row">
            <div class="col-sm-12">
                <a href="{{ path('admin_season_create_path') }}" class="btn btn-success pull-right">Create season</a>
            </div>

            {% for season in seasons %}
                <div class="col-lg-4 thumbnail">
                    <h3>{{ season.number }} season of serial "{{ season.serial.name }}"</h3>

                    <div>
                        <a href="{{ path('admin_season_edit_path', {'id' : season.id}) }}" class="btn btn-primary">Update</a>
                        <a href="{{ path('admin_season_delete_path', {'id' : season.id}) }}" class="btn btn-primary delete-row">Delete</a>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="navigation col-sm-12">
            {{ knp_pagination_render(seasons) }}
        </div>
    </div>
{% endblock %}